body{
  background-color: black;
  color: white;
  
}
h1{
  text-align: center;
}
div{
  margin: auto;
}
img{
  height: 180px;
  width: 180px;
  border-radius: 110px;
  padding: 20px;
  border: 2px solid black;
  margin: 10px; 
  background-color: rgb(240, 240, 189);
  }
.move{
  border: none;
  background-color:black;
  }